modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 45720669
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "nodemon server.js"
